---
import '../styles/global.css'
---
<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>新闻周刊 | 字幕下载</title>
	</head>
	<body>
		<div class="main">
			<h2>新闻周刊</h2>
			<hr>
			<slot />
	</div>
	</body>
</html>